<div id="page_wrapper">
	
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>It's ClefCodeX Picture</h1>
		<p>This page is all about ClefCodeX Iwewale, a Physicist, a Pianist and a Programmer. <hr> 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer turpis lorem, scelerisque quis efficitur non, facilisis id felis. Donec pellentesque id lorem vitae ullamcorper. Integer consequat nisi sed libero ultrices tristique in ac orci. Nulla viverra elementum rutrum. Etiam maximus erat vitae lorem iaculis tristique. Etiam tempor orci at dolor vulputate faucibus Nulla viverra elementum rutrum.</p>
	</div>

</div>